html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding:0;
}
body {
    width: 60%;
    padding: 0;
    margin: 0 auto;
    background-color: #F4E9D3;
}
a {
    text-decoration: none;
    list-style: none;
    color: white;
}

h1, h2, h3{
    font-family: 'IM Fell English SC', serif;
}

p{
    font-family: 'Lora', serif;
    font-weight: 400;
    line-height: 27px;
    color: #8B2721;
}

@media (max-width: 550px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

/* NAV ------------------------------------------------------------------------------------------------------------*/
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(37, 37, 37);
    z-index: 1001;
    height: 60px;
    display: flex;
    justify-content: center;
}

.fixed-nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    width: 60%;
}

.fixed-nav li {
    padding: 15px;
}

.fixed-nav a {
    color: white;
    text-decoration: none;
}
.nav-mobile {
    display: none;
}


.material-icons {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    z-index: 5000;
    color: white;
    transition: color 0.3s ease;
  }



#desktop-menu-list {
    margin-top: 100px;
    text-decoration: none;
    list-style: none;
    z-index: 1000;
    line-height: 40px;;
    text-align: center;
    font-size: 21px;
    width: auto;
    padding-left: 0;
}
#menu-list-mobile a.active {
    color: orange;
}

.desktop-hidden {
    right: -300px; /* Assuming you want to start it off-screen */
    z-index: 1000;
}

.desktop-visible {
    right: 0px;
    z-index: 1000;
}

#desktop-menuContent {
    top: 0;
    width: 300px;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    transition: right 0.5s ease;
    cursor: pointer;
    background-color: gray;
    /*box-shadow: -3px 0 5px -3px rgba(0, 0, 0, 0.5);*/
}
#menuContent{
    display: none;
}

@media (max-width: 550px) {
    
    /* NAV */
    
        .nav-mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            z-index: 2000;
            background-color: rgba(60, 47, 47, 0);
            transition: background-color 0.3s ease;
            width: 100%;
            margin: 0;
            padding: 0;
            top: 0;
            height: 50px;
            padding: 3px 4px 3px;
            font-family: 'Roboto Serif', serif;
        }
        .nav-mobile img {
            width: 25px;
            height: auto;
            margin-left: 10px;
            opacity: 1;
            transition: opacity 0.3s ease;
        }
        .fixed-nav {
            display: none;
        }
        #desktop-menuContent{
            display: none;
        }
        #nav-icon-dice{
            color: #F4E9D3;
            margin: 0px 30px 0px;
            width: 300px;
            white-space: nowrap;
            transition: color 0.3s ease, top 0.3s ease;
            position: relative;
            top: 20px;
            font-size: 18px;
        }
        #icon-container{
            display: flex;
            width: 100%;
            height: auto;
            justify-content: flex-end;
            margin-right: 30px;
        }
        .material-icons {
            font-family: 'Material Symbols Outlined';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;  /* Preferred icon size */
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            z-index: 5000;
            transition: color 0.3s ease;
          }
          #menuIcon-dice{
            font-size: 32px;
            position: relative; /* Needed for 'top' to work */
            top: 20px;
            color: #F4E9D3;
            top: 20px;
          }
        
        #menu-list {
            list-style: none;
            position: fixed;
            background-color: aliceblue;
            z-index: 1000;
        }

        #menuContent-dice {
            display: block;
            top: 0;
            width: 180px;
            height: 100vh;
            position: fixed;
            z-index: 1000;
            transition: right 0.5s ease;
            cursor: pointer;
            background-color: #b3891f;
            text-align: center;
            /* Initialize with hidden state */
        }
        #menuContent h4{
            margin-top: 120px;
            font-size: 22px;
            color: #F4E9D3;
            font-family: 'Roboto Serif', serif;
            margin-bottom: 5;
        }
        .hidden {
            right: -180px; /* Assuming you want to start it off-screen */
            z-index: 1000;
        }
        
        .visible {
            right: 0px;
            z-index: 1000;
        }
        #menu-list-mobile {
            color: #F4E9D3;
            text-decoration: none;
            list-style: none;
            z-index: 1000;
            padding: 0px 15px 12px;
            line-height: 36px;
            text-align: center;
            font-size: 21px;
            line-height: 40px;
            height: auto;
            font-family: 'IM Fell English SC', serif;
        }
        #menu-list-mobile a{
            color: #F4E9D3;
        }
        #menu-list-mobile-account-options{
            text-decoration: none;
            list-style: none;
            z-index: 1000;
            padding: 0px 15px 12px;
            line-height: 36px;
            text-align: center;
            font-size: 21px;
            line-height: 40px;
            height: auto;
            margin: 0;
            color: black;
        }
        #menu-list-mobile-account-options a{
            color: #F4E9D3;
        }
        #menu-list-mobile a.active {
            color: orange;
        }
        
    }    



/* Banner ---------------------------------------------------------------------------------------------------*/

.banner {
    position: relative;
    background-image: url('images/Skull map profile crop3.jpg');
    height: 1000px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.2);
}

@media (max-width: 550px) {

.banner-mobile {
    display: none;
}

.banner-fade {
    display: none;
}

.banner {
    display: none;
}
/*.banner-mobile {
    display: block;
    height: 300px;
    width: 100%;
    text-align: center;
    background-color: rgb(70, 70, 70);
    color: white;
    position: relative;
}
.banner-mobile h1 {
    position: relative;
    top: 100px;
}
.hero-action-button {
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
    position: relative;
    top: 125px;
    padding-right: 15px;
    padding-left: 15px;
}
#slideshow {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index: 1;
}
.slide.active {
    opacity: 1;
    z-index: 2;
}*/
}
/* Group info ---------------------------------------------------------------------------------------------------------------------*/

/* main onjectives ---------------------------------------------------------------------------------------------------------------------*/


/* Featured Links ---------------------------------------------------------------------------------------------------------------------*/







/* About Brief --------------------------------------------------------------------------------------------------------------------*/

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.bounce {
    animation: bounce 1s;
}

.dice-app {
    padding: 0;
    background-color: rgb(21, 36, 21);
    text-align: center;
    width: 100%;
    color: #F4E9D3; 
}
.dice-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#form-dice{
    font-size: 18px;
    margin: 30px 0px 35px;
}
#form-dice select{
    font-size: 18px;
    height: 40px;
    padding: 5px;
    margin-right: 30px;
    width: 120px;
    border-radius: 4px;
}
#form-dice input{
    font-size: 18px;
    height: 28px;
    padding: 5px;
    width: 60px;
    border-radius: 4px;
}
.dice-result-button {
    border-radius: 8px;
    border: none;
    width: 120px;
    background-color: #b11d15;
    color: #F4E9D3;
    font-size: 24px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Roboto Serif', serif;
    letter-spacing: 2.5px;
}

@media (max-width: 550px) {

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
        40% {transform: translateY(-30px);}
        60% {transform: translateY(-15px);}
    }
    #bounce {
        animation: bounce 1s ease;
    }

    .dice-app {
        color: #F4E9D3;
        padding-bottom: 20px;
        padding-top: 20px;
        height: 100vh;
        overflow-y: hidden;
    }
    .dice-app h1{
        font-size: 50px;
        margin-top: 100px;
    }
    .dice-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 30px 0px;
        padding-bottom: 10px;
    }
    .dice-result-button {
        border-radius: 8px;
        border: none;
        width: 120px;
        background-color: #b11d15;
        color: #F4E9D3;
        font-size: 24px;
        height: 50px;
        margin-bottom: 10px;
        margin-top: 20px;
        font-family: 'Roboto Serif', serif;
        letter-spacing: 2.5px;
    }

    #form-dice{
        font-size: 18px;
    }
    #form-dice select{
        font-size: 18px;
        height: 40px;
        padding: 5px;
        margin-right: 30px;
        width: 125px;
        background-color: #F4E9D3;
    }
    #form-dice input{
        font-size: 18px;
        height: 28px;
        padding: 5px;
        width: 30px;
        text-align: center;
        background-color: #F4E9D3;
    }
    .dice-print-result {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 140px; /* Adjust as needed */
        overflow-y: hidden;
        margin-top: 10px;
        padding-bottom: 10px;
        /*background-color: #1e3b1e;*/
        width: 60%;
        margin: 20px auto;
        border-radius: 5px;
    }

    .dice-print-result h3{
        margin-bottom: 10px;
        font-family: 'IM Fell English SC', serif;
        font-size: 24px;
        z-index: 1000;
    }
    .dice-print-result h4 {
        margin: 5px 0; /* Provides consistent spacing */
        font-size: 16px;
        font-family: 'Lora', serif;
        font-weight: 300;
        z-index: 1000;
    }
   
    #totalResult{
        font-size: 60px;
        margin: 0;
        padding: 0;
    }
    #individualRolls{
        margin-top: 0;
        padding-top: 0;
    }
    /*.background{
        background-color: #2C5F2D;
        padding: 20px 0px 20px;
    }*/

    
}

    /* Merch Section---------------------------------------- */ 

.featured-products {
    display: flex;
}

@media (max-width: 550px) {
    .featured-products {
        display: none;
        
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid-title {
        grid-column: 1 / span 2;
        height: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: rgb(102, 102, 102);
    }
    .grid-item {
        background-color: rgb(109, 109, 109);
        padding: 20px;
        text-align: center;
        color: white;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid-item.large {
        grid-column: 1 / span 2;
    }
    #grid-1{
        background-color: rgb(150, 150, 150);
    }
    #grid-2{
        background-color: rgb(199, 199, 199);
    }
    #grid-3{
        background-color: rgb(121, 121, 121);
    }
}

/*Testimonials-------------------------------------------------------------------------------------*/

@media (max-width: 550px) {

    .testimonials {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 35px 35px 25px;
        text-align: center;
    }
    .testimonial-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 20px 0px 40px;
    }
    .testimonial-container p {
        padding: 0;
        margin: 0;
    }
    .testimonial-container img {
        width: 70%;
        height: auto;
    }
    .testimonials h2 {
        font-size: 32px;
    }
}

/* Footer ----------------------------------------------------------------------------------------------------------*/

@media (max-width: 550px) {
footer {
    display: block;
    background-color: rgb(37, 37, 37);
    width: 100%;
    height: auto;
    color: white;
}
.footer-container {
    padding: 10px 10px 0px;
    display: flex;
    justify-content: center;
}
.footer-box {
    width: 50%;
    height: auto;
    text-align: center;
}
.copyright{
    padding: 0px 10px 10px;
    font-size: 12px;
}
}

/* CONTACT -----------------------------------------------------------------------------------------------*/

/*About Page------------------------------------------------------------------------------------------------------------------------*/












 